/* Carousel container styling */
.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}


.carousel-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

/* Individual slide styling */
.carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.carousel-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.carousel-dots {
    margin-top: 10px;
}

.carousel-dots .dot {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 5px;
    background-color: #D9D9D9;
    border-radius: 50%;
    cursor: pointer;
}

.carousel-dots .dot.active {
    background-color: #4b5320;
}
