.categories {
    text-align: center;
    margin-top: 140px;
    background-color: transparent;
    width:100%;
    overflow: hidden;
}

.categories h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    line-height: 72px;
    font-weight: 600;
    color: #6B6B37;
}

.categories p {
    color: #777;
    margin-bottom: 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 42px;
    text-align: center;
}

.category-list {
    display: flex;
    flex-direction: row;
    /*gap: 2rem;*/
}

.category-item {
    background-color: #f7f6ef;
    padding: 1.5rem;
    /*border-radius: 8px;*/
    text-align: center;
}

.category-item img {
    max-width: 430px;
    min-width: 380px;
    margin-bottom: 1rem;
}

.category-item-text{
    width: 90%;
    color: #6B6B37;
    font-family: 'Poppins', sans-serif;
}

.category-item-text h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
}

.category-item-text p {
    margin-top:4px;
    margin-bottom:0;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}
