.hero{
    width: 100%;
    display: flex;
    align-items: center;
    height:800px;
    flex-direction: column;
}

.hero-container {
    width:92%;
    height:90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2rem;
    background-color: #DDE2D6;
    border-radius: 15px;
    gap:100px;
    background-image: url('../../public/images/leaf1.svg'), url('../../public/images/leaf2.svg');
    background-position: 240px 0, 600px 630px;
    background-size: 24%, 24%;
    background-repeat: no-repeat;
}

.hero-text {
    padding-left: 60px;
    max-width: 40%;
}

.hero-text h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 52px;
    line-height: 78px;
    color: #333;
    font-weight: 600;
}

.hero-text span {
    color: #5d7a26;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 78px;
}

.hero-text p {
    margin: 1rem 0;
    font-size: 32px;
    line-height: 48px;
    font-weight: 400;
    color: #000000;
}

.hero-image img {
    max-width: 90%;
    height: auto;
}
